streamlit==1.56.0
reportlab==4.5.0
plotly==6.7.0
pandas==3.0.2
numpy==2.4.4
scikit-learn==1.8.0
joblib==1.5.3
python-dotenv==1.2.2
groq==1.1.2
flask
flask-cors
flask-jwt-extended
flask-limiter
flask-mail
pymongo
bcrypt
marshmallow
flask-talisman
openpyxl
requests